/* ---- Reset ---- */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
button,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section {
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
}

a,
button {
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: sans-serif;
    line-height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

img {
    vertical-align: bottom;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

blockquote,
q {
    quotes: none;
}

/* ---- Reset ---- */

body {
    min-width: 320px;
    max-width: 100%;
    color: rgba(0, 0, 0, .54);
    font-family: Arial, "Helvetica Neue", Helvetica, "sans-serif";
    overflow-x: hidden;
    font-size: 100%;
    line-height: 100%;
    word-wrap: break-word;
    background: #eeeeee;
    /* background:#f5f5f5; */
}

button,
input,
select,
textarea {
    display: block;
    color: rgba(0, 0, 0, .54);
    font-family: Arial, "Helvetica Neue", Helvetica, "sans-serif";
    font-size: 100%;
    line-height: 100%;
    text-align: left;
    background: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    resize: none;
}

[type=checkbox] {
    border: none;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}

[type=radio] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button,
[type=date]::-webkit-inner-spin-button,
[type=date]::-webkit-calendar-picker-indicator {
    margin: 0;
    -webkit-appearance: none;
}

input:-webkit-autofill {
    color: rgba(0, 0, 0, .54) !important;
    -webkit-text-fill-color: rgba(0, 0, 0, .54) !important;
    background-color: none !important;
    transition: none;
    box-shadow: inset 0 0 0 10rem #ffffff;
}

li {
    margin: .5rem 0 0 2rem;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

em,
i {
    font-style: italic;
}

strong,
b {
    font-weight: bold;
}

u {
    text-decoration: underline;
}



.material-icon,
.material-icon-before::before,
.material-icon-after::after {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    overflow: hidden;
    direction: ltr;
    font-family: "Material Icons Round";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    text-rendering: optimizeLegibility;
}



/* ---- Header ---- */



/* ---- Tipografia ---- */



.color-azul-escuro {
    color: #0c9abe;
}

.color-vermelho {
    color: #b82602;
}

.color-branco-1 {
    color: rgba(255, 255, 255, 1);
}

.color-branco-2 {
    color: rgba(255, 255, 255, .7);
}

.color-branco-3 {
    color: rgba(255, 255, 255, .5);
}

.color-preto-1 {
    color: rgba(0, 0, 0, .87);
}

.color-preto-2 {
    color: rgba(0, 0, 0, .54);
}

.color-preto-3 {
    color: rgba(0, 0, 0, .38);
}

.font-size-075 {
    font-size: .75rem;
    line-height: 100%;
}

.font-size-0875 {
    font-size: .875rem;
    line-height: 100%;
}

.font-size-1 {
    font-size: 1rem;
    line-height: 100%;
}

.font-size-125 {
    font-size: 1.25rem;
    line-height: 100%;
}

.font-size-15 {
    font-size: 1.5rem;
    line-height: 100%;
}

.font-size-2 {
    font-size: 2rem;
    line-height: 100%;
}

.font-size-3 {
    font-size: 3rem;
    line-height: 100%;
}

.font-size-4 {
    font-size: 4rem;
    line-height: 100%;
}

.font-style-italic {
    font-style: italic;
}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-medium {
    font-weight: 500;
}

.line-height-100 {
    line-height: 100%;
}

.line-height-120 {
    line-height: 120%;
}

.line-height-150 {
    line-height: 150%;
}

.line-height-auto {
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.background-branco {
    background: #ffffff;
}

.border-radius {
    border-radius: 4px;
}

.box-shadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}



/* ---- Extras ---- */



.link-opacity {
    transition: opacity .25s;
}

.link-opacity:hover {
    opacity: .8;
}

.link-editar {
    color: rgba(0, 0, 0, .54);
    text-decoration: none;
}

.link-editar:hover {
    color: rgba(0, 20, 150, .70);
    text-decoration: underline;
}

.link-editar::after {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../img/icon-editar.png) center/cover no-repeat;
    opacity: 0;
    content: "";
    margin-bottom: -3px;
    margin-left: 3px;
}

.link-editar:hover::after {
    opacity: 1;
}

.link-editar-lupa::after {
    background-image: url(../img/icon-editar-lupa.png);
}

.margin-top-0125 {
    margin-top: .125rem;
}

.margin-top-025 {
    margin-top: .25rem;
}

.margin-top-05 {
    margin-top: .5rem;
}

.margin-top-075 {
    margin-top: .75rem;
}

.margin-top-0875 {
    margin-top: .875rem;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-125 {
    margin-top: 1.25rem;
}

.margin-top-15 {
    margin-top: 1.5rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-25 {
    margin-top: 2.5rem;
}

.margin-top-3 {
    margin-top: 3rem;
}

.margin-top-4 {
    margin-top: 4rem;
}

.img-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
}

.img-retina {
    width: 100%;
    height: 100%;
}

.img-icone {
    width: 24px;
    height: 24px;
}

.img-position {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-position: center;
}

.img-position-cover {
    object-fit: cover;
}

.img-position-contain {
    object-fit: contain;
}

.clear-both {
    height: 0;
    overflow: hidden;
    clear: both;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline-block;
}

.display-none {
    display: none;
}

.display-inline-flex {
    display: inline-flex;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.overflow-hidden {
    overflow: hidden;
}

.position-absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.position-relative {
    position: relative;
}

.divisor {
    height: .0625rem;
    overflow: hidden;
}

.divisor-branco {
    background: rgba(255, 255, 255, .12);
}

.divisor-preto {
    background: rgba(0, 0, 0, .12);
}